# Supabase 配置
SUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

OPENAI_API_KEY=your-openai-api-key

API_KEY=your-api-key

# JWT 配置
JWT_SECRET=your-jwt-secret
JWT_ALGORITHM=your-jwt-algorithm

# 7小时过期 token
ACCESS_TOKEN_EXPIRE_SECONDS=your-access-token-expire-seconds

# 1小时过期验证码
CODE_EXPIRE_SECONDS=your-code-expire-seconds

# resend 配置
RESEND_API_KEY=your-resend-api-key
RESEND_API_URL=your-resend-api-url

# google oauth2 配置
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
REDIRECT_URI=your-redirect-uri

# 服务地址
SERVICE_URL=your-service-url
SERVICE_PORT=your-service-port

# stripe 配置
STRIPE_SECRET_KEY=your-stripe-secret-key
STRIPE_PUBLISHABLE_KEY=your-stripe-publishable-key
STRIPE_WEBHOOK_SECRET=your-stripe-webhook-secret
STRIPE_DOMAIN=your-stripe-domain

# outdated user
OUTDATED_USER_DAYS=your-outdated-user-days

# max_conversation_history
MAX_CONVERSATION_HISTORY=your-max-conversation-history


#lib config
LOCAL_DATA_PATH=your-local-data-path
LINK_EXPIRATION=your-link-expiration
BUCKET_NAME=your-bucket-name
MAX_RETRIES=your-max-retries
RETRY_DELAY=your-retry-delay
BOOKS_BUCKET=your-books-bucket
